.left_col, .nav_title, body, .sidebar-footer {
    background: #7C0041 !important;
  }
  .nav.side-menu>li.active>a{
    background: linear-gradient(#334556,#2C4257),#143c6d !important;
  }
  .sidebar-footer a {
    background: #F3E1EB !important;
    color: #7C0041 !important;
  }
  .sidebar-footer a:hover {
    background: #7C0041 !important;
    color: #F3E1EB !important;
  }
  .nav_menu {
    background: #F3E1EB !important;
  }
  .nav.navbar-nav>li>a{
    color : #7C0041 !important;
  }
  .top_nav .nav .open>a,.top_nav .nav .open>a:focus,.top_nav .nav .open>a:hover,.top_nav .nav>li>a:focus,.top_nav .nav>li>a:hover{
    background:#7C0041 !important;
    color: #F3E1EB !important;
  }
  #menu_toggle {
    color: #7C0041 !important;
  }