.left_col, .nav_title, body, .sidebar-footer {
    background: #143c6d !important;
}
.nav.side-menu>li.active>a{
    background: linear-gradient(#334556,#2C4257),#143c6d !important;
}
.sidebar-footer a {
    background: #fae54d !important;
    color: #143c6d !important;
}
.sidebar-footer a:hover {
    background: #46a2db !important;
    color: white !important;
}
.nav_menu {
    background: #fae54d !important;
}
.nav.navbar-nav>li>a{
    color :#143c6d !important;
}
.top_nav .nav .open>a,.top_nav .nav .open>a:focus,.top_nav .nav .open>a:hover,.top_nav .nav>li>a:focus,.top_nav .nav>li>a:hover{
    background:#46a2db !important;
    color: white !important;
}
#menu_toggle {
    color: #143c6d !important;
}