body{
  font-family: 'WorkSans' !important;
}
.menu_section h3{
  text-shadow: none !important;
}
.left_col, .nav_title, body, .sidebar-footer {
  background: #D3A381 !important;
}
.nav.side-menu>li.active>a{
  background: linear-gradient(#334556,#2C4257),#D3A381 !important;
}
.sidebar-footer a {
  background: #0C6663 !important;
  color: #D3A381 !important;
}
.sidebar-footer a:hover {
  background: #46a2db !important;
  color: white !important;
}
.nav_menu {
  background: #0C6663 !important;
}
.nav.navbar-nav>li>a{
  color :white !important;
}
.top_nav .nav .open>a,.top_nav .nav .open>a:focus,.top_nav .nav .open>a:hover,.top_nav .nav>li>a:focus,.top_nav .nav>li>a:hover{
  background:#D3A381 !important;
}
#menu_toggle {
  color: white !important;
}
.nav.child_menu>li>a, .nav.side-menu>li>a {
  color: #383838 !important;
}
.navbar-brand, .navbar-nav>li>a, .site_title {
  color: #383838!important;
}
.profile_info span {
  color: #383838 !important;
}
.profile_info h2 {
  color: #0C6663 !important;
  font-weight: bold !important;
}